@{
    ViewBag.Title = Resources.About;
}

<div class="row" style="padding: 24px;">
    <h2>@ViewBag.Title.</h2>
    <p class="col-md-12">@String.Format(Resources.AboutContent, ViewBag.PracticeCostCredits)</p>
    <p class="col-md-12">@Html.ActionLink(Resources.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "btn btn-primary btn-large"})</p>
</div>
