@{
    ViewBag.Title = Resources.Home;
}

<div class="jumbotron">
    <h1>@Resources.ApplicationName</h1>
    <p class="lead">@Resources.WelcomeMemo</p>
    <p><a href="http://www.tu-plovdiv.bg/" class="btn btn-primary btn-large">@Resources.TUSite</a></p>
</div>

<div class="row">

</div>